.po-toolbar-search-container {
  display: none;
}

@media screen and (min-width: 950px) { 

  .po-toolbar-search-container {
    display: table-cell;
    padding-right: 16px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    z-index: 1;
  } 

}