<style>
  .margin {
    margin-top: 150px;
  }

  .margin-2 {
    margin-top: 300px;
  }

  .po-toolbar-position {
    position: initial;
  }

  .po-popup {
    left: auto;
    position: absolute;
  }

  .po-tollbar-search-box-list-item-icon-clean-visible {
    display: block;
    color: var(--color-toolbar-search-box-list-item-color-text-selected);
    font-size: 16px;
    border: none;
    background-color:var(--color-toolbar-search-box-list-item-background-color-selected);
  }
</style>

<article>
  <section>
    <div class="container po-lg-12">
      <h4>Toolbar sem actions</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">0</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12">
      <h4>Toolbar com actions</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-actions po-clickable">
            <span class="po-icon po-icon-more po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12">
      <h4>Toolbar com visualização de notificações</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>

              <div class="po-popup" style="margin-top: 8px; margin-left: -201px">
                <div class="po-popup-arrow po-arrow-top-right"></div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-message po-popup-icon-item"></span>
                  Nova mensagem
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-clock po-popup-icon-item"></span>
                  Lembrete de evento à 5 min
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-lock po-popup-icon-item"></span>
                  Atualize sua senha
                </div>
              </div>

            <div class="po-toolbar-notification-badge">3</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12 margin">
      <h4>Toolbar com visualização de actions</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-actions po-clickable">
            <span class="po-icon po-icon-more po-toolbar-icon"></span>
            <div class="po-popup" style="margin-top: 8px; margin-left: -105px">
              <div class="po-popup-arrow po-arrow-top-right"></div>
              <div class="po-popup-item-default po-clickable">
                Abrir caixa
              </div>
              <div class="po-popup-item-default po-clickable">
                Fechar caixa
              </div>
              <div class="po-popup-item-default po-clickable">
                Configurar caixa
              </div>
            </div>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">3</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12 margin">
      <h4>Toolbar com visualização do perfil</h4>
      <div class="po-toolbar po-toolbar-position">
          <div class="po-toolbar-title"> 
            <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
          </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">7</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>

              <div class="po-popup" style="margin-top: 8px; margin-left: -177px">
                <div class="po-popup-arrow po-arrow-top-right"></div>

                <div class="po-toolbar-profile-item-header">
                  <div class="po-avatar po-avatar-sm po-toolbar-profile-item-avatar">
                    <img src="./assets/images/portinari-logo-user.svg" alt="" class="po-avatar-image">
                  </div>
                  <div>
                    <div class="po-toolbar-profile-item-header-title">
                      Mr. Dev Portinari
                    </div>
                    <div class="po-toolbar-profile-item-header-subtitle">
                      devPortinari@portinari.com.br
                    </div>
                  </div>
                </div>

                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-user po-popup-icon-item"></span> Dados do usuário
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-company po-popup-icon-item"></span> Dados da empresa
                </div>
                <div class="po-popup-item-default po-clickable">
                  <span class="po-icon po-icon-settings po-popup-icon-item"></span> Configurações
                </div>
                <div class="po-popup-item-danger po-popup-item-separator po-clickable">
                  <span class="po-icon po-icon-exit po-popup-icon-item"></span> Sair
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>


    <div class="container po-lg-12 margin-2 po-mb-5">
      <h4>Toolbar com campo de pesquisa</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-search-container">
          <form>
            <span class="po-icon po-icon-search po-toolbar-search-input-icon"></span>
            <input 
              id="toolbarSearchInput" 
              class="po-toolbar-search-input po-pl-4 po-pr-1" 
              aria-autocomplete="both"
              aria-expanded="false"
              aria-haspopup="true"
              placeholder="Placeholder"
              role="combobox"
              type="text">
            <ul 
              class="po-toolbar-search-box"
              aria-labelledby="toolbarSearchInput"
              role="listbox">
              <li role="option">
                <div class="po-toolbar-search-box-list-item-group po-toolbar-search-box-list-item">
                  Estados <span class="po-toolbar-search-box-list-item-group-clear">Limpar</span>
                </div>
                <ul>
                  <li class="po-toolbar-search-box-list-item" role="option">
                    <div class="po-toolbar-search-box-list-item-text">
                      Alabama
                    </div>
                  </li>
                  <li role="option">
                    <div class="po-toolbar-search-box-list-item">
                      Florida
                    </div>
                  </li>
                  <li role="option">
                    <div class="po-toolbar-search-box-list-item">
                      Montana
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-search-icon po-clickable">
            <span class="po-icon po-icon-search po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">7</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container po-lg-12 po-mb-5">
      <h4>Toolbar com campo de pesquisa e com proposta de largura indicada para foco</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-search-container">
          <form>
            <span class="po-icon po-icon-search po-toolbar-search-input-icon"></span>
            <input 
              id="toolbarSearchInput" 
              class="po-toolbar-search-input po-toolbar-search-input-focused po-pl-4 po-pr-1" 
              aria-autocomplete="both"
              aria-expanded="false"
              aria-haspopup="true"
              placeholder="Placeholder"
              role="combobox"
              type="text">
            <ul 
            class="po-toolbar-search-box"
            aria-labelledby="toolbarSearchInput"
            role="listbox">
            <li role="option">
                <div class="po-toolbar-search-box-list-item-group po-toolbar-search-box-list-item">
                  Estados <span class="po-toolbar-search-box-list-item-group-clear">Limpar</span>
                </div>
                <ul>
                  <li class="po-toolbar-search-box-list-item" role="option">
                    <div class="po-toolbar-search-box-list-item-text">
                      Alabama
                    </div>
                  </li>
                  <li role="option">
                    <div class="po-toolbar-search-box-list-item">
                      Florida
                    </div>
                  </li>
                  <li role="option">
                    <div class="po-toolbar-search-box-list-item">
                      Montana
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-search-icon po-clickable">
            <span class="po-icon po-icon-search po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">7</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
    </div>


    <div class="container po-lg-12 po-mb-5">
      <h4>Toolbar com campo de pesquisa e popup com opções aberto</h4>
      <div class="po-toolbar po-toolbar-position">
        <div class="po-toolbar-title"> 
          <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
        </div>
        <div class="po-toolbar-search-container">
          <form>
            <span class="po-icon po-icon-search po-toolbar-search-input-icon"></span>
            <input 
              id="toolbarSearchInput" 
              class="po-toolbar-search-input po-toolbar-search-input-focused po-pl-4 po-pr-1" 
              aria-autocomplete="both"
              aria-expanded="true"
              aria-haspopup="true"
              placeholder="Placeholder"
              role="combobox"
              type="text"
              value="Ala">
            <ul 
              class="po-toolbar-search-box po-show"
              aria-labelledby="toolbarSearchInput"
              role="listbox">
              <li class="po-toolbar-search-box-list-item-group" role="option">
                <p class="po-toolbar-search-box-list-item-text-grouper">
                  Histórico de busca
                </p>
                <button type="button" class="po-toolbar-search-box-list-item-group-clear po-clickable">
                  Limpar
                </button>
                <ul>
                  <li class="po-toolbar-search-box-list-item po-clickable po-toolbar-search-box-list-item-selected" role="option" aria-selected="true">
                    <p class="po-toolbar-search-box-list-item-text">
                      <span class="po-toolbar-search-box-list-item-typed-text">Ala</span><span class="po-toolbar-search-box-list-item-text-completed">bama</span>
                    </p>
                    <button type="button" class="po-toolbar-search-box-list-item-icon-clean po-clickable">
                      <span class="po-icon po-icon-close"></span>
                    </button>
                  </li>
                  <li class="po-toolbar-search-box-list-item po-clickable" role="option" aria-selected="false">
                    <p class="po-toolbar-search-box-list-item-text">
                      <span class="po-toolbar-search-box-list-item-typed-text">Ala</span><span class="po-toolbar-search-box-list-item-text-completed">mbique</span>
                    </p>
                    <button type="button" class="po-toolbar-search-box-list-item-icon-clean po-clickable">
                      <span class="po-icon po-icon-close"></span>
                    </button>
                  </li>
                  <li class="po-toolbar-search-box-list-item po-clickable" role="option" aria-selected="false">
                    <p class="po-toolbar-search-box-list-item-text">
                      <span class="po-toolbar-search-box-list-item-typed-text">Ala</span><span class="po-toolbar-search-box-list-item-text-completed">meda</span>
                    </p>
                    <button type="button" class="po-toolbar-search-box-list-item-icon-clean po-clickable">
                      <span class="po-icon po-icon-close"></span>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
        <div class="po-toolbar-group-icon">
          <div class="po-toolbar-search-icon po-clickable">
            <span class="po-icon po-icon-search po-toolbar-icon"></span>
          </div>
          <div class="po-toolbar-notification po-clickable">
            <span class="po-icon po-icon-notification po-toolbar-icon"></span>
            <div class="po-toolbar-notification-badge">7</div>
          </div>
          <div class="po-toolbar-profile po-clickable">
            <span class="po-icon po-icon-user po-toolbar-icon"></span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>


    <div class="container po-lg-12 po-mb-5">
        <h4>Toolbar com campo de pesquisa e popup com opções aberto com hover</h4>
        <div class="po-toolbar po-toolbar-position">
          <div class="po-toolbar-title"> 
            <p class="po-toolbar-title-text">PORTINARI HTML FRAMEWORK</p> 
          </div>
          <div class="po-toolbar-search-container">
            <form>
              <span class="po-icon po-icon-search po-toolbar-search-input-icon"></span>
              <input 
                id="toolbarSearchInput" 
                class="po-toolbar-search-input po-toolbar-search-input-focused po-pl-4 po-pr-1" 
                aria-autocomplete="both"
                aria-expanded="true"
                aria-haspopup="true"
                placeholder="Placeholder"
                role="combobox"
                type="text"
                value="">
              <ul 
                class="po-toolbar-search-box po-show"
                aria-labelledby="toolbarSearchInput"
                role="listbox">
                <li class="po-toolbar-search-box-list-item-group" role="option">
                    <p class="po-toolbar-search-box-list-item-text-grouper">
                      Histórico de busca
                    </p>
                    <button type="button" class="po-toolbar-search-box-list-item-group-clear po-clickable">
                      Limpar
                    </button>
                    <ul>
                      <li class="po-toolbar-search-box-list-item po-clickable po-toolbar-search-box-list-item-selected" role="option" aria-selected="true">
                        <p class="po-toolbar-search-box-list-item-text">
                          Alabama
                        </p>
                        <button type="button" class="po-toolbar-search-box-list-item-icon-clean po-tollbar-search-box-list-item-icon-clean-visible po-clickable">
                          <span class="po-icon po-icon-close"></span>
                        </button>
                      </li>
                      <li class="po-toolbar-search-box-list-item po-clickable" role="option" aria-selected="false">
                        <p class="po-toolbar-search-box-list-item-text">Florida</p>
                        <button type="button" class="po-toolbar-search-box-list-item-icon-clean po-clickable">
                          <span class="po-icon po-icon-close"></span>
                        </button>
                      </li>
                      <li class="po-toolbar-search-box-list-item po-clickable" role="option" aria-selected="false">
                        <p class="po-toolbar-search-box-list-item-text">Montana</p>
                        <button type="button" class="po-toolbar-search-box-list-item-icon-clean po-clickable">
                          <span class="po-icon po-icon-close"></span>
                        </button>
                      </li>
                    </ul>
                  </li>
              </ul>
            </form>
          </div>
          <div class="po-toolbar-group-icon">
            <div class="po-toolbar-search-icon po-clickable">
              <span class="po-icon po-icon-search po-toolbar-icon"></span>
            </div>
            <div class="po-toolbar-notification po-clickable">
              <span class="po-icon po-icon-notification po-toolbar-icon"></span>
              <div class="po-toolbar-notification-badge">7</div>
            </div>
            <div class="po-toolbar-profile po-clickable">
              <span class="po-icon po-icon-user po-toolbar-icon"></span>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
  </section>
</article>
